/* RESETS */
* {
    padding: 0;
    margin: 0;
}

/* GLOBAL STYLES */
html, body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 1.1rem;
}

a {
    color: #A4C2A5;
}

a:hover {
    color: #647AA3;
    text-decoration: none;
}

.btn, .btn-primary {
    background-color: #A4C2A5;
    border: none;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #93ae94;
    border: none;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/* CUSTOM STYLES */
/* Navbar */
.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    background-color: #647AA3 !important;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.navbar-light, .navbar-brand {
    color: white!important;
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    color: white!important;
    font-size: 1.1rem;
}

.navbar-nav, .nav-link:hover, .nav-link:focus, .navbar-brand:hover, .navbar-brand:focus {
    color:#A4C2A5!important;
}

/* Jumbotron/Hero */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/zara-aitken.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    background-position: center;
}

.display-4 {
    height: 100%;
}

/* Profile Section */
.profile-photo {
    width: 100%;
}

/* Skills section */
.skills-photo {
    width: 100%;
}

/* Footer */
footer {
    background-color: #647AA3;
    height: 120px;
}

.footer-link {
    color: white;
}

.footer-link:hover, .footer-link:focus {
    color: #A4C2A5;
    text-decoration: none;
}

.fa-brands {
    color: white;
}

.fa-brands:hover, .fa-brands:focus {
    color: #A4C2A5
}

/* MEDIA QUERIES */
@media screen and (max-width: 990px) {
    .contact {
        margin: 20px;
    }

    .my-work {
        justify-content: flex-start!important;
    }
}

@media screen and (max-width: 760px) {
    .display-4 {
        font-size: 1.5rem;
    }

    .jumbotron {
        height: 50%;
        background-position: right;
    }
}

