/* RESETS */
* {
    padding: 0;
    margin: 0;
}

/* GLOBAL STYLES */
html, body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 1.1rem;
}

/* CUSTOM STYLES */

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    background-color: #647AA3 !important;
}

.navbar-light, .navbar-brand {
    color: white!important;
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    color: white!important;
    font-size: 1.1rem;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/zara-aitken.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    background-position: center;
}

.display-4 {
    height: 100%;
}

.profile-photo {
    height: 500px;
    width: 500px;
}

.btn, .btn-primary {
    background-color: #A4C2A5;
    border: none;
    color: white;
}



